:root{
    --bs_green:#1abc9c;
    --bs_light_blue: #3a546d;
    --bs_dark_blue: #2c3e50
}

.header_section, 
.footer-section{
    background-color: var(--bs_light_blue);
    color: white;
}

.menu>a>img{
    filter: invert(100%);
    width: 2rem;
}

.bg_bs-green{background-color: var(--bs_green);}

.w_15_rem{
    width: 15rem;
}

.straight-section{
    height: 5px; 
    width: 3rem;
}

.fa-star{
    width: 2rem;
}

div[class^="col"]{
    
}

.send{
    margin-top: 5rem;
}

.address{
    margin-bottom: 4rem;
}

.around-the-web{
    margin-bottom: 2rem;
}

.social{
    border: 1px solid white;

    padding: 1rem 1.3rem;
    border-radius: 500px;
}

.bg_dark_blue{
    background-color: var(--bs_dark_blue);
}

img{
    max-width: 100%;
}
